/*body {
    font-family: sans-serif;
}*/

.test {
    color: red;
}

.border {
    border: 1px solid orange;
}

.navbar {
    background-color:white;
}

.navbar-nav li:hover {
    background-color: #F3F3F3;
}

.content {
    min-height:86%;
}

html {
    height:100%;
}

body {
    height:100%;
}

#back-top {
	position: fixed;
	bottom: 7%;
        right: 10%;
}

/* arrow icon (span tag) */
#back-top span {
	width: 50px;
	height: 50px;
	display: block;
	margin-bottom: 7px;
	background: #ddd url('../fig/up-arrow.png') no-repeat center center;
        background-size: 30px 30px;
	/* rounded corners */
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top span:hover {
	background-color: #777;
}

.hidden {
    display:none;
}

code {
    background-color:transparent;
    color:brown;
}

pre {
    border:0;
    padding:8px;
    background-color:#333;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.article h2 {
    line-height: 1.2em;
    border-bottom: 1px solid Grey;
    padding-bottom: 0.3em;
    margin-top: 1.3em;
    margin-bottom :0.9em;
}

.article h3 {
    margin-top: 1.1em;
    margin-bottom: 0.6em;
}

.nohighlight {
    color: white;
}

.toplevel {
    color: white;
}

.toplevel .result, .nohighlight .result {
    color: silver;
}

.article .panel-default {
    /* border: 2px solid #C7E3FF; */
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.article .panel-heading {
    text-shadow: 2px;
    font-weight: bold;
    color: #374048;
    /* background-color: #C7E3FF; */
}

.article .panel-body {
    /* background-color: #F0F7FF; */
    padding-bottom: 5px;
}
/*
.breadcrumb {
    background-color: white;
    border-bottom: 2px solid #F3F3F3;
}
*/
