* {
    font-family: sans-serif;
}

.test {
    color: red;
}

.border {
    border: 1px solid orange;
}

.navbar {
    background-color:#ff944d;
    color: white;
}

.content {
    min-height:86%;
}

html {
    height:100%;
}

body {
    height:100%;
}
#back-top {
	position: fixed;
	bottom: 7%;
        right: 10%;
}

/* arrow icon (span tag) */
#back-top span {
	width: 50px;
	height: 50px;
	display: block;
	margin-bottom: 7px;
	background: #ddd url('../fig/up-arrow.png') no-repeat center center;
        background-size: 30px 30px;
	/* rounded corners */
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top span:hover {
	background-color: #777;
}