* {
    font-family: sans-serif;
}

.test {
    color: red;
}

.border {
    border: 1px solid orange;
}

.navbar {
    background-color:#ff944d;
    color: white;
}

.content {
    min-height:86%;
}

html {
    height:100%;
}

body {
    height:100%;
}

code {
    background-color:transparent;
    color:brown;
}

pre {
    border:0;
    padding:5px;
    background-color:#333;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.article h2 {
    border-bottom: 1px solid Grey;
    padding-bottom: 0.3em;
    margin-top: 1.3em;
    margin-bottom :0.9em;
}

.article h3 {
    margin-top: 1.1em;
    margin-bottom: 0.6em;
}

.nohighlight {
    color: white;
}

.toplevel {
    color: white;
}

.toplevel .result, .nohighlight .result {
    color: lightslategray;
}
